<!DOCTYPE html>
<html lang="en">

<!-- HTML Header-->
<%- include('layouts/header') -%>

    <body>
        <!-- Navigation -->
        <%- include('layouts/navbar') -%>

            <!-- Page Header-->
            <header class="masthead" id="loginBanner">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Candidates</h1>
                                <span class="subheading">Welcome to Candidates Page</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <div class="candidates_categories">
                    <a href="/candidates">All</a>
                    <a href="/candidates?resultType=Pass">Pass</a>
                    <a href="/candidates?resultType=Fail">Fail</a>
                </div>

                <% if(userInfo.length>0) {%>
                    <table class="table candidates_results">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>License Number</th>
                                <th> Test Type</th>
                                <th> Result</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(let i=0; i< userInfo.length; i ++){ %>
                                <tr>
                                    <td>
                                        <%= userInfo[i].firstName %>
                                    </td>
                                    <td>
                                        <%= userInfo[i].lastName %>
                                    </td>
                                    <td>
                                        <%= userInfo[i].licenseNumber %>
                                    </td>
                                    <td>
                                        <%= userInfo[i].testType %>
                                    </td>
                                    <td>
                                        <%= userInfo[i].result %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% }%>
                    
                        <% if(userInfo.length<=0) {%>
                            <div class="text-center">
                                <p> No Candidates yet!</p>
                            </div>
                            <% }%>
            </main>

            <!--Footer-->
            <%- include('layouts/footer') -%>
    </body>

</html>