<!DOCTYPE html>
<html lang="en">

<!-- HTML Header-->
<%- include('layouts/header') -%>

    <body>
        <!-- Navigation -->
        <%- include('layouts/navbar') -%>

            <!-- Page Header-->
            <header class="masthead" id="signupBanner">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Result</h1>
                                <span class="subheading">Welcome to Result Page</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <div class="driver_results">
                    <fieldset>
                        <legend> &nbsp;Your Results &nbsp;</legend>
                        <!--add css based on user result-->
                        <span class="label">Status:</span>
                        <span class="value"><%= userResult %></span>
                        <% if(examinerComment!=null) {%>
                            <span class="label">Examiner Comments :</span>
                            <span class="value"><%- examinerComment %></p>
                        <% }%>
                    </fieldset>
                </div>

            </main>

            <!--Footer-->
            <%- include('layouts/footer') -%>
    </body>

</html>